<!-- Footer Starts Here -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <img src="assets/images/header-logo.png" class="headerIndex" alt="">
        </div>
      </div>
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="products.html">Ürünlerimiz</a></li>
            <li><a href="about.html">Hakkımızda</a></li>
            <li><a href="contact.html">İletişim</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="social-icons">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


